.polaroid-image-section {
	padding-top: 3em;
	padding-bottom: 2em;
}

.polaroid-image-section > * {
	max-width: 60rem;
}

.polaroid-image-section .polaroid-heading-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

.polaroid-image-section .polaroid-heading-container > * {
	margin: 0px 0px 10px 0px;
	font-weight: 100;
}

.polaroid-image-section .polaroid-outer {
	background-color: #FFFEF8;
	padding-top: 0.75em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	padding-bottom: 4em;
	box-shadow: #333 5px 10px 20px;
}

.polaroid-image-section .polaroid-heading {
	font-size: 1.5rem;
}

.polaroid-image-section .polaroid-sub-heading {
	font-family: "Venaissin";
	font-size: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
}

.polaroid-image-section .polaroid-image {
	width: 100%;
	height: 100%;
	aspect-ratio: 1 / 1;
	max-height: 70vh;

	background-size: cover;
	background-position: center;
}

.polaroid-image-section .polaroid-image-container {
	position: relative;
	z-index: 10;
}
.polaroid-image-section .polaroid-highlight {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: linear-gradient(
		45deg,
		rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 1) 75%,
		rgba(255, 255, 255, 0.1) 100%
	);
	opacity: 0.4;
	z-index: 12;
}



@media ( min-width: 480px ) {

	.polaroid-image-section .polaroid-heading {
		font-size: 1.6rem;
	}

	.polaroid-image-section .polaroid-sub-heading {
		font-size: 1.6rem;
	}

	
}


@media ( min-width: 600px ) {



}

/* Breakpoint from mobile to desktop */
@media ( min-width: 782px ) {
	.polaroid-image-section .polaroid-heading-container {
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		align-items: center;
	}

	.polaroid-image-section .polaroid-heading-container > * {
		margin: 0px 0px 20px 0px;
	}

	.polaroid-image-section {
		padding-top: 5em;
		padding-bottom: 4em;
	}

}


@media ( min-width: 1100px ) {
		.polaroid-image-section .polaroid-heading {
			font-size: 1.9rem;
		}

		.polaroid-image-section .polaroid-sub-heading {
			font-size: 1.9rem;
		}

		.polaroid-image-section .polaroid-heading-container > * {
			margin: 0px 0px 30px 0px;
		}

}